go 1.20

use (
	./conditional_statements
	./data_structures
	./datatypes
	./defer_panic_recover
	./functions
	./gomaps
	./loops
	./methods
	./numeric_constants
	./pointers
	./structs
	./typeConversionsAndInferrence
	./variables
)
